.menu {
  padding: 10px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
  position: relative;

  /* border: 5px solid #2c5f26; */
}

.name {
  font-weight: 700;
  font-size: 1.1rem;
}

.menu-section {
  padding: 10px;
  /* border-radius: 15px; */
  /* background-color: #131313; */
  /* border: 4px inset rgb(49, 83, 49); */
  border: 2px solid #333333;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-button {
  background-color: inherit;
  background-color: #333333;
  /* border: 2px solid rgb(85, 85, 85); */
  border: 2px solid #999999;
  border: none;
  /* border-radius: 5px; */
  padding: 8px;
  transition: background-color 100ms ease-in-out;
}

.menu-button {
  font-size: 0.9rem;
}

.menu-button:hover {
  background-color: #548b56;
  border-color: transparent;
}

.menu-button.active {
  background-color: #1e6121;
  border-color: transparent;
  font-weight: 700;
  color: white;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.apply-button {
  background: none;
  border: none;
  font-weight: 700;
  color: #7dac7f;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 1rem;
  margin-top: -3px;
}

.apply-button:hover {
  color: rgb(0, 0, 0);
}

.menu-caption {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.rah-static--height-zero {
  margin-top: -5px;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
  text-align: center;
}

h5 {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 0rem;
  font-variant: small-caps;
  text-transform: lowercase;
}

.center {
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  margin: 15px 0;
  font-weight: 900;
}

.menu::-webkit-scrollbar {
  width: 18px;
}

.menu::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

input[type='file'] {
  flex: 1;
  padding: 5px 10px;
  background-color: #333333;
  /* border: 2px rgb(85, 85, 85) solid; */
  /* border-radius: 5px; */
  /* accent-color: #6761e6; */
}

input[type='number'] {
  width: 100px;
  padding: 3px;
  border: 2px solid rgb(85, 85, 85);
  /* border-radius: 5px; */
  background-color: #131313;
  color: rgba(255, 255, 255, 0.8);
}
