.App {
  height: 100%;
  display: grid;
  grid: 1fr / 350px 1fr auto;
  grid-template-areas: 'menu canvas-container';
}

.canvas-container {
  display: flex;
  overflow: auto;
}

canvas {
  image-rendering: pixelated;
  margin: auto;
}
